data/raw/*
!data/raw/.gitkeep
notebooks/data/raw/
data/processed/
models/**/*.pth
__pycache__/
.ipynb_checkpoints/
node_modules/
.env
*.log
outputs/

venv/
.venv/
env/
*.py[cod]
.DS_Store
Thumbs.db
.vscode/
